{% extends 'main.html' %}
{% load static %}

{% block title %}Notes{% endblock title %}

{% block content %}

<div class="pagetitle">
    <h3>Notes</h3>
</div>
<hr>

<div class="row">
    <div class="col-lg-3">
        <div class="box-element category" style="text-align:center">
            <h6><strong>Computer Science</strong></h6>
            <hr>
            <a class="btn btn-primary" href="{% url 'cs' %}" role="button">Go</a>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="box-element category" style="text-align:center">
            <h6><strong>History</strong></h6>
            <hr>
            <a class="btn btn-primary" href="{% url 'history' %}" role="button">Go</a>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="box-element category" style="text-align:center">
            <h6><strong>Politics</strong></h6>
            <hr>
            <a class="btn btn-primary" href="{% url 'politics' %}" role="button">Go</a>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="box-element category" style="text-align:center">
            <h6><strong>Philosophy</strong></h6>
            <hr>
            <a class="btn btn-primary" href="{% url 'politics' %}" role="button">Go</a>    
        </div>
    </div>

</div>

{% endblock content %}