body{
	background-color: hsl(0, 0%, 98%);
    
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.welcome {
    text-align: center;
}

.pagetitle {
    text-align: center;
    padding-top: 10px;  
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.category {
    border-radius: 0 0 4px 4px;
    
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}