body{
	background-color: #fdfdfd;
    font-family: "Roboto", sans-serif;
    font-size: 17px;  
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.welcome {
    text-align: center;
}

.pagetitle {
    text-align: center;
    padding-top: 10px;  
}


.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.masthead {
    background: #303038;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
    justify-content: center;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}